/*
 * Author: Sithu Khant
 * GitHub: https://github.com/sithu-khant
 * Last Updated: Tue Feb 20, 2024
 * Description: Adds daily motivation quote to the home page
 */

#daily-motivation {
    width: 50%;
    margin: auto auto 55px;
    font-style: italic;
    position: relative;
}

#daily-motivation .quote {
    font-size: 20px;
}

#daily-motivation .dash-author {
    font-size: 20px;
    text-align: right;
    margin-right: -10px;
}

#daily-motivation .dash-author {
    font-size: 18px;
}