/*
 * Author: Matt Smith
 * GitHub: https://github.com/mattcsmith
 * Date: 4th Jan 2024
 * Description: Adds lecture time statistics to each section and the sidebar
 */

 /* NOTE: This includes more !important's than I'd like to have used               */
 /*       However it couldn't really be avoided without making substaintial edits  */
 /*       to the darkmode theme.                                                   */

.sect-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sect-watchtime {
    display: flex;
}

.badge {
  display: flex!important;
  border: 1px solid rgb(245, 23, 103) !important;
  border-radius: 20px!important;
  padding: 0!important; 
  margin-left: 15px!important;
}

 .badge .badge-prefix {
  padding: 8px 6px 8px 12px;
  background-color: rgba(245, 23, 103, 0.8) !important;
  border-radius: 20px 0 0 20px;
}

.badge .badge-text {
  padding: 8px 13px!important; 
  background: unset!important;
}

.sidebar-times .badge {
  width: 70%;
  margin-bottom: 15px;
}

.sidebar-times .badge-prefix {
  width: 50%;
  text-align: left;
}

.sidebar-times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}