/* 
 * Author: Sithu Khant
 * GitHub: https://github.com/sithu-khant 
 * Last Updated: Tue Jan 16, 2024
 * Description: Adds favorite course feature to the home page
 */ 

.btn-course-filter {
	outline: none !important;
}

.ztm-fav-courses-button {
	display: flex !important;
	align-items: center !important;
}

#ztm-fav-courses-heart-icon {
	font-size: 22px;
	cursor: pointer;
	color: #989898;
	opacity: 0.8;
}

#ztm-fav-courses-heart-icon:hover {
	opacity: 1;
}

.filtered-fav-courses {
	color: #30d683 !important;
}

.course-box-image-container {
	position: relative;
}

#ztm-fav-courses {
	position: absolute;
	top: 2%;
	right: 2%;
}

#ztm-heart-icon {
	font-size: 23px;
	padding: 5px;
	color: grey;
	background: #F5F5F5;
	border: 1px solid #EEEEEE;
	border-radius: 50%;
	opacity: 0.8;
}

#ztm-heart-icon:hover {
	opacity: 1;
}

#ztm-fav-courses .ztm-heart-icon-clicked {
	color: #B01E28 !important;
}

/* ----- Fav Courses - Start ----- */

#ztm-fav-courses-container {
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 40vh;
}

#ztm-fav-course-card {
	display: flex;
	align-items: center;
	width: 100%;
	background: #fff;
	margin-bottom: 2px;
	font-size: 18px;
}

#ztm-fav-course-index {
	flex-basis: 5%;
	margin: unset !important;
	padding: 8px 20px;
	font-weight: 500 !important;	
	background: #f2f2f2;
	color: #989898;
}

#ztm-fav-course-link {
	flex-basis: 80%;
	padding: 8px 20px;
}

#ztm-fav-course-percentage {
	flex-basis: 15%;
	margin: unset !important;
	padding: 8px 20px;
	font-weight: 500 !important;
	background: #f2f2f2;
	color: #30d683;
}



















/* ----- Fav Courses - End ----- */




