/* 
 * Author: Sithu Khant
 * GitHub: https://github.com/sithu-khant 
 * Last Updated: Tue Jan 16, 2024
 * Description: Adds favorite course feature to the home page
 */ 

.btn-course-filter {
	outline: none !important;
}

.ztm-fav-course-button {
	display: flex !important;
	align-items: center !important;
}

#ztm-fav-course-heart-icon {
	font-size: 22px;
	cursor: pointer;
	color: #989898;
	opacity: 0.8;
}

#ztm-fav-course-heart-icon:hover {
	opacity: 1;
}

.filtered-fav-courses {
	color: #B01E28 !important;
}

.course-box-image-container {
	position: relative;
}

#ztm-fav-course {
	position: absolute;
	top: 2%;
	right: 2%;
}

#ztm-heart-icon {
	font-size: 23px;
	padding: 5px;
	color: grey;
	background: #F5F5F5;
	border: 1px solid #EEEEEE;
	border-radius: 50%;
	opacity: 0.8;
}

#ztm-heart-icon:hover {
	opacity: 1;
}

#ztm-fav-course .ztm-heart-icon-clicked {
	color: #B01E28;
}

/* ----- Build-in CSS ----- */

/*@media (min-width: 992px) {
	.col-md-4 {
	    width: 33.33333333% !important;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
	    width: 50% !important;
	}
}

.col-xs-12 {
    width: 100% !important;
}*/

.row.course-list.list {
	width: 100%;
	display: flex !important;
	flex-direction: column;
/*	flex-basis: 30%;*/
	justify-content: space-between;
}

.course-listing {
    display: flex;
    width: 40%;
}



