/* ----- Start Toggle Sidebar Section ----- */
.ztm-toggle-hide {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
    .ztm-toggle-hide {
        display: none;
    }
}
/* ----- End Toggle Sidebar Section ----- */