.ztm-favorite-icon {
    z-index: 500;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0;
    color: #32dd88;
    user-select: none;
    cursor: pointer;
}

.ztmFavouriteIconCheckbox {
    display: none;
}

.ztmFavouriteIconCheckbox:checked + label .material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
    color: red;
}