/* new ---- */

ul.jsx-2575539602 {
    border: 1px solid #393E46 !important;
}

a.jsx-2575539602:hover {
    background: #393E46 !important;
}

.banner.jsx-1640592643 {
    background: #393E46 !important;
}

.right.jsx-1640592643 * {
    background: transparent !important;
}

.right.jsx-1640592643 .primaryButton {
    background: #30D683 !important;
}

.section-header.jsx-4255369697,
.section-header.jsx-4255369697 *,
.lectures.jsx-3137867545 {
    background: #393E46 !important;  
}

.slim-section.jsx-3137867545 {
    background: #393E46 !important;  
}

.bar.jsx-2138578525 {
    border: 1px solid #232931 !important;
}

.active.jsx-2138578525 {
    border-left: 8px solid #30D683 !important;
}

.secondaryButtonInverse {
    background: #232931 !important;
}

.info.jsx-2138578525,
.info.jsx-2138578525 * {
    background: #393E46 !important;
}

/*.columns.jsx-4204861187 {
    background: #393E46 !important;   
}*/

/*.columns.jsx-4204861187 * {
    background: transparent !important;   
}*/

/*.icon.jsx-4255369697,
.jsx-4255369697 {
    color: #30D683 !important;
}*/

/*.icon.jsx-4255369697 {
    color: red !important;
    stoke: color: #30D683 !important;
    background: blue !important;
}*/

/*.jsx-2138578525.button.secondaryButton {
    background: #30D683 !important;
}*/

.bar.jsx-2138578525 {
    background: #232931 !important;
}

.progress.jsx-687475899,
.percentComplete.jsx-687475899 {
    background: #393E46 !important;
}

.progressBar.jsx-687475899 {
    background-color: #232931 !important;
}

.finished.jsx-687475899 {
    background: #EEEEEE !important;
}

.instructor.jsx-1343021134,
.instructor.jsx-1343021134 * {
    background: #393E46 !important;
}